#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}
.btn {
    background-color: #f44336; /* Green */
    border-radius: 8px;
    padding: 8px 25px;

    border: none;
}
