<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <style type="text/css">
        table tr button {
            opacity: 0;
            float: right
        }
        table tr:hover button {
            opacity: 1
        }
    </style>
</head>

<body ng-app="directoryApp">
    <div class="container">
        <div class="row">
            <h1>UF Directory App</h1>
        </div>
        <div class="row" ng-controller="ListingsController">
            <div class="col-md-6">
                <div class="input-group" id="searchBar">
                    <script>
                        function filterSearch() {
                            // Declare variables
                            var input, filter, table, row, code, bName;
                            input = document.getElementById("myInput");
                            filter = input.value.toUpperCase();
                            table = document.getElementById("myTable");
                            row = table.getElementsByTagName("tr");
                            for (var i = 0; i < row.length; i++) {
                                code = row[i].getElementsByTagName("td")[0];
                                bName = row[i].getElementsByTagName("td")[1];
                                if (code || bName) {
                                    if (code.innerHTML.toUpperCase().indexOf(filter) > -1 || bName.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                        row[i].style.display = "";
                                    } else {
                                        row[i].style.display = "none";
                                    }
                                }
                            }
                        }
                    </script>
                    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
                    <input type="text" id=myInput onkeyup="filterSearch()" class="form-control" placeholder="Search">
                </div>
                <div class="tableWrapper">
                    <table id=myTable class="table table-striped table-hover">
                        <tr>
                            <th>Code</th>
                            <th>Building Name</th>
                        </tr>
                        <!--Here we insert each listing as well as our button -->
                        <tr ng-repeat="entries in listings track by $index" | orderBy: "code" | ng-click="showDetails(entries)">
                            <td>{{entries.code}}</td>
                            <td>{{entries.name}}</td>
                            <td>
                                <button type="button" value="Remove" class="btn btn-primary" ng-click="deleteListing(index)" /> Delete
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="jumbotron">
                    <h2>Detailed Information</h2>
                    
                    <label for="codeDetailed">Code:</label>
                    <span name="codeDetailed">{{detailedInfo.code}}</span>
                    <br/>

                    <label for="nameDetailed">Name:</label>
                    <span name="nameDetailed">{{detailedInfo.name}}</span>
                    <br/>

                    <label for="latitudeDetailed">Latitude:</label>
                    <span name="latitudeDetailed">{{detailedInfo.coordinates.latitude}}</span>
                    <br/>

                    <label for="longitudeDetailed">Longitude:</label>
                    <span name="longitudeDetailed">{{detailedInfo.coordinates.longitude}}</span>
                    <br/>

                    <label for="addressDetailed">Address:</label>
                    <span name="addressDetailed">{{detailedInfo.address}}</span>


                </div>
            </div>
            <div class="col-md-6">
                <div class="jumbotron">
                    <h3>Add new building</h3>
                    <label for="getCode">Code</label>
                    <input type="text" name="getCode" ng-model="codeInput">
                    </br>

                    <label for="getName">Name</label>
                    <input type="text" name="getName" ng-model="nameInput">
                    </br>

                    <label for="getLatitude">Latitude</label>
                    <input type="number" name="getLatitude" ng-model="latitudeInput">
                    </br>

                    <label for="getLongitude">Longitude</label>
                    <input type="number" name="getLongitude" ng-model="longitudeInput">
                    </br>

                    <label for="getAddress">Address</label>
                    <input type="text" name="getAddress" ng-model="addressInput">
                    </br>

                    <a href="#" class="btn btn-success btn-lg" ng-click="addListing(codeInput,nameInput,latitudeInput,longitudeInput,addressInput)">
                        <span> Add Entry </span>
                    </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
</body>

</html>
